@import "helper/_variables.scss";

*{
  //font-family: 'Oswald', sans-serif;
  box-sizing: border-box;
  body {
    font-family: 'Oswald', sans-serif;
    margin: 10px auto;
    width: 80%;
    background-color: $default-text-colour;
    .button {
      display: inline;
      background-color: $alternate-colour;
      height: 100px;
      display: flex;
      justify-content: center;
    }
    .game-wrapper {
      display: flex;
      flex-wrap: wrap;
      #map {
        width: 500px;
        height: 500px;
        //display: inline-block;
        margin: 0 auto;
        div {
          border: 1px solid $border-colour;
          width: 50px;
          height: 50px;
          float: left;
        }
        div.blank { background-color: $background-colour; }
        div.neutral { background-color: chartreuse; }
        div.kill { background-color: red; }
        div.save { background-color: blue; }
      }
      .side-bar {
        background-color: $alternate-colour;
        border: 3px solid $border-colour;
        border-radius: 60px;
        width: 500px;
        margin: 0 auto;
        height: 500px;
        text-align: center;
        display: flex;
        align-items: center;
        // display: flex;
        // flex-direction: column;
        ul {
          font-size: 20px;
          color: $default-text-colour;
          padding: 10px 30px;
        }
      }
    }
    .score-board {
      margin: 10px auto;
      height: 250px;
      width: 80%;
      background-color: $background-colour;
      border: 3px solid $border-colour;
      border-radius: 60px;
      font-size: 30px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      #clock {
        display: flex;
        width: 250px;
        height: 200px;
        justify-content: center;
        align-items: center;
        background-color: $alternate-colour;
        color: white;
        border: 4px solid $border-colour;
        border-radius: 60px;
        font-size: 120px;
      }
      .score-lives {
        border: 3px solid $border-colour;
        border-radius: 60px;
        height: 90%;
        width: 170px;
        margin: 10px;
        font-size: 43px;
      }
    }
  }
}
