@import "helper/_variables.scss";
@import "partials/_button.scss";


*{
  //font-family: 'Oswald', sans-serif;
  box-sizing: border-box;
  body {
    font-family: 'Oswald', sans-serif;
    margin: 10px auto;
    width: 80%;
    background-color: $default-text-colour;
  }
  .game-wrapper {
    display: flex;
    flex-wrap: wrap;
    #map {
      width: 500px;
      height: 500px;
      margin: 0 auto;
      div {
        border: 1px solid $border-colour;
        width: 50px;
        height: 50px;
        float: left;
      }
      div.blank { background-color: $background-colour; }
      div.neutral { background-color: chartreuse; }
      div.kill { background-color: red; }
      div.save { background-color: blue; }
    }
    .side-bar {
      background-color: $alternate-colour;
      border: 3px solid $border-colour;
      border-radius: 60px;
      width: 500px;
      margin: 0 auto;
      height: 500px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      ul {
        font-size: 20px;
        color: $default-text-colour;
        padding: 10px 30px;
        li {
          padding: 10px;
          li.title {
            color: $alternate-colour;
            font-size: 40px;
          }
        }
      }
    }
  }
  .score-board {
    margin: 10px auto;
    height: 250px;
    width: 80%;
    background-color: $background-colour;
    border: 3px solid $border-colour;
    border-radius: 60px;
    font-size: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .timer {
      ul {
        li {
          text-align: center;
          margin: 7px;
        }
        li#clock {
          display: flex;
          width: 250px;
          height: 200px;
          justify-content: center;
          align-items: center;
          background-color: $alternate-colour;
          color: white;
          border: 4px solid $border-colour;
          border-radius: 60px;
          font-size: 120px;
        }
      }
    }
  }
  .score-lives {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 3px solid $border-colour;
    border-radius: 60px;
    height: 200px;
    width: 250px;
    margin: 10px;
    font-size: 43px;
  }
}
