@import "helper/_variables.scss";
@import "partials/_button.scss";
@import "partials/_list.scss";


*{
  //font-family: 'Oswald', sans-serif;
  box-sizing: border-box;
  body {
    font-family: 'Oswald', sans-serif;
    margin: 10px auto;
    width: 80%;
    background-color: $default-text-colour;
  }
  .game-wrapper {
    display: flex;
    flex-wrap: wrap;
    #map {
      width: 540px;
      height: 540px;
      margin: 0 auto;
      border-radius: 60px;
      div {
        border: 1px solid $border-colour;
        width: 50px;
        height: 50px;
        border-radius: 20px;
        margin: 2px;
        float: left;
      }
      div.blank { background-color: $border-colour; }
      div.neutral { background-color: chartreuse; }
      div.kill { background-color: red; }
      div.save { background-color: blue; }
    }
    .side-bar {
      background-color: $alternate-colour;
      border: 3px solid $border-colour;
      border-radius: 60px;
      margin: 0 auto;
      height: 540px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      .input-wrap {
        p {
          display: block;
          font-size: 35px;
          margin: 25px;
          color: $default-text-colour;
          text-shadow: -1px 0 $border-colour, 0 1px $border-colour, 1px 0 $border-colour, 0 -1px $border-colour;
        }
      }
    }
  }
  #level {
    display: block;
    width: 1075px;
    height: 100px;
    margin: 5px auto;
    text-align: center;
    justify-content: center;
    border-radius: 60px;
    background-color: $background-colour;
    border: solid 2px $border-colour;
    p {
      font-size: 43px;
      color: $border-colour;
      margin: 25px auto;
    }
  }
  .score-board {
    margin: 10px auto;
    height: 300px;
    width: 1075px;
    background-color: $background-colour;
    border: 3px solid $border-colour;
    border-radius: 60px;
    font-size: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .high-score {
    width: 850px;
    height: 200px;
    margin: 5px auto;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    color: $default-text-colour;
    flex-wrap: wrap;
    border: 3px solid $border-colour;
    border-radius: 60px;
    background-color: $background-colour;
  }
}
