button {
  background-color: $background-colour;
  &#play, &#reset {
    height: 200px;
    width: 250px;
    border: 2px solid $border-colour;
    border-radius: 60px;
  }
  &#play {
    margin: 0 97px;
  }
}
input {
  border: 2px solid $border-colour;
  border-radius: 60px;
  &[type="text"] {
    height: 75px;
    font-size: 20px;
    margin: 0 10px;
    text-align: center;
    font-size: 25px;
  }
  &[type="submit"]{
    padding:20px;
    font-size: 25px;
    background-color: $background-colour;
    color: $default-text-colour;
  }
}
