button {
  background-color: $background-colour;
  &#play, &#reset, &#new-player {
    border: 2px solid $border-colour;
    border-radius: 60px;
  }
  &#play {
    height: 200px;
    margin: 0 85px;
    font-size: 55px;
    flex: 1;
  }
  &#reset, &#new-player {
    margin: 20px 40px;
    height: 50px;
    width: 325px;
  }

}
input {
  border: 2px solid $border-colour;
  border-radius: 60px;
  &[type="text"] {
    height: 75px;
    font-size: 20px;
    margin: 0 10px;
    text-align: center;
    font-size: 25px;
    flex: 1;
  }
  &[type="submit"]{
    padding:20px;
    font-size: 25px;
    background-color: $background-colour;
    color: $default-text-colour;
    flex: 1;
  }
}
