button {
  &#play, &#reset, &#new-player {
    background-color: $background-colour;
    border: 2px solid $border-colour;
    border-radius: 60px;
    color: $default-text-colour;
    font-family: 'Oswald', sans-serif;
  }
  &#play {
    height: 200px;
    margin: 0 85px;
    font-size: 55px;
    flex: 1;
  }
  &#reset, &#new-player {
    background-color: $alternate-colour;
    border-color: $border-colour;
    color: $default-text-colour;
    margin-top: 40px;
    margin-bottom: 0;
    height: 70px;
    width: 325px;
    font-size: 30px;
  }
  &#reset {
    margin-left: 150px;
  }
  &#new-player {
    margin-right: 150px;
  }
}
input {
  border: 2px solid $border-colour;
  border-radius: 60px;
  &[type="text"] {
    height: 75px;
    font-size: 20px;
    margin: 0 10px;
    text-align: center;
    font-size: 25px;
    flex: 1;
  }
  &[type="submit"]{
    padding:20px;
    font-size: 25px;
    background-color: $background-colour;
    color: $default-text-colour;
    flex: 1;
  }
}
